/*! == COMPONENTS == */

.button {
    position: relative;
    display: inline-block;
	background: none;
	color: $brand-dark-grey;
	border-top: none;
	border-bottom: none;
	border-right: 2px solid $brand-dark-grey;
	border-left: 2px solid $brand-dark-grey;
	border-radius: 0;
	font-family: $body-font;
	font-size: 1.2em;
	font-weight: 100;
	letter-spacing: 1px;
	text-transform: capitalize;
	cursor: pointer;
	width: 30em;
	padding: 1em 2em;
	margin: 0;
	text-rendering: geometricPrecision;
	outline: none;
	transition: all 0.5s ease-in-out;
    min-width: fit-content;
	
	&__light {
		color: $brand-secondary;
		border-right: 2px solid $brand-secondary;
		border-left: 2px solid $brand-secondary;
	}
	
/*
	&:hover {
		width: 10em;
	}
*/
}

a.next-section {
    position: absolute;
    bottom: 0;
    display: block;
    height: 4em;
    transform: translateX(-50%);
    left: 50%;
    font-family:$supporting-font;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 1em;
    z-index: 10;
    
     &:before {
        position: absolute;
        content: '';
        bottom: -1em;
        left: 50%;
        transform: translateX(-50%);
        width: 3.5em;
        height: 3.5em;
        background:url(inc/img/arrow-shape.svg);
        background-size: contain;
        background-repeat: no-repeat;
        transition: bottom 0.5s ease;
        border-radius: 50px;
    }
    
    &:hover:before {
        bottom:-10px;
    }
}

.silverless {
    text-align: center;
    margin-top: -5px;
 
    #logo {
        width: 100px;
        height: 30px;
    }

    #silverless {
        opacity:0.6;
        transition:opacity 0.5s ease-in-out;
    
        path {
            fill: white;
        }
    }

    #created {
        opacity:0;
        transform: translateY(50px);
        transition: 1s transform ease, 2s opacity ease;

        path {
            fill: white;
        }
    }

    &:hover {
        cursor:pointer;

        #silverless {
            opacity:0.8;
        }

        #created {
              opacity:0.8;
              transform: translateY(0);
        }
    }
}

.map-wrapper {
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	
	.heading {
    	position: absolute;
    	width: 100%;
    	margin-top: 1em;
    	text-align: center;
    	z-index: 10;
    	color: white;
    	text-shadow: 0 0 20px black;
    	
        	svg {
            	position: absolute;
            	height:1em;
            	width:1em;
            	bottom: -1em;
            	left:48%;
            	fill:white;
        	}
	}
}

#bell-map-contact {
	position: relative;
	width: 100%;
	height: 100%;
	font: 1em 'Helvetica Neue', Arial, Helvetica, sans-serif;
	
	.marker {
		background-color: white;
		width: 30px;
		height: 30px;
		border: 5px solid hsl(0, 0%, 20%);
		border-radius: 50%;
		cursor: pointer;
	}
	
	.mapboxgl-ctrl-geocoder--button {
		outline: none;
	}
	
	.mapboxgl-canvas {
		outline: none;
	}
	
	.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
        display: none;
	}
	
	.mapboxgl-popup-tip {
		display: none;
	}
	
	.mapboxgl-popup {
		max-width: 250px;
		will-change: unset;
		line-height: 1.5;
		width: 250px;
		z-index: 10;
	}
	
	.mapboxgl-popup-content {
		text-align: left;
		color: $brand-primary;
		padding: 1.1em;
		position: relative;
		background: $brand-light-grey;
		color: $brand-primary;
		border-radius: 0;
		box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1), 1px -1px 2px rgba(0, 0, 0, 0.1), -1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.1);
		
		.mapboxgl-popup-close-button {
			font-size: 20px;
			outline: none;
			position: absolute;
			top: -0.3em;
			right: -0.3em;
			background: $brand-primary;
			color: white;
			border-radius: 100%;
			border: 3px solid $brand-light-grey;
			cursor: pointer;
			width: 35px;
			height: 35px;
			line-height: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			
			&:before {
				position: absolute;
				top: -3px;
				right: -3px;
				width: calc(100% + 6px);
				height: calc(100% + 6px);
				content: "";
				border-radius: 100%;
				z-index: -1;
				box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1), 1px -1px 2px rgba(0, 0, 0, 0.1), -1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.1);
			}
		}
		
		.buttons-popup {
			width: 100%;
	        text-align: center;
		
			a {
				line-height: 1.4em;
				display: inline-block;
		        width: 100%;
		        background-color: $brand-primary;
		        border: 1px solid white;
		        color: white;
		        font-size: 14px;
			    padding: 5px;
			    margin: 5px 0px;
			    letter-spacing: 0.1em;
			    cursor: pointer;
			    font-family: $body-font;
			    font-weight: 200;
			}
		}
		
		div {
			color: $brand-primary;
			
			&.title {
				font-size: 1.5em;
				display: inline-block;
				text-align: center;
				padding: 0 0 0.3em 0;
				border-bottom: 1px solid $brand-primary;
				font-family: $supporting-font;
				
				span {
					font-size: 0.5em;
					transform: translateY(-0.6em);
					border-bottom: 1px solid $brand-primary;
					display: inline-block;
				}
			}
			
			&.name {
			    font-size: 1.5em;
			    line-height: 1em;
			    margin-bottom: 1em;

			}
			
			&.phone, &.address, &.email {
				font-size: 1.2em;
				font-weight: 400;
				margin-left: 1em;
				margin-top: 1em;
			}
			
			&.address {
				font-weight: 100;
			}
			
			&.email {
				margin-top: 0;
			}
		}
	}
}

#contact-form {
	
	p {
		margin: 0;
		font-size: 1em;
	}
	
	.wpcf7-text, .wpcf7-textarea {
		border: none;
		background: darken($brand-light-grey, 5%);
		font-family: $body-font;
		width: 100%;
		font-size: 1em;
		margin-top: 1em;
		padding: 0.75em;
		outline: none;
		color: $brand-primary;
		
		&::placeholder {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 0.9em;
			color: $brand-mid-grey;
		}
	}
	
	.wpcf7-text[name=your-name] {
		margin-top: 0;
	}
	
	.wpcf7-submit {
		margin-top: 1em;
		font-size: 0.9em;
	}
	
	br {
		display: none;
	}

	.wpcf7-not-valid-tip {
		color: lighten($brand-primary, 10%) !important;
		font-size: 0.85em;
	}
	
	.wpcf7-response-output {
		font-size: 0.85em;
		margin: 1em 0 0 0;
		border: none;
		background: none;
		color: black;
		background: hsla(0, 0%, 0%, 0.2);
	}
}


#contact-form-footer {
	font-size: 1.05em;
	
	span {
		display: inline-block;
		line-height: 1;
	}
	
	label {
		display: block;
		line-height: 1;
	}
	
	br {
		display: none;
	}
	
	p {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 0.75em;
		grid-column-gap: 1.5em;
		font-size: 1em;
		padding: 0;
		
		> span:nth-of-type(1) {
			grid-column: 1;
			grid-row: 1;
		}
		
		> span:nth-of-type(2) {
			grid-column: 1;
			grid-row: 2;
		}
		
		> span:nth-of-type(3) {
			grid-column: 1;
			grid-row: 3;
		}
		
		> span:nth-of-type(4) {
			grid-column: 2;
			grid-row: 1/4;
		}
		
		.wpcf7-submit {
			grid-column: 2;
			grid-row: 4;
			background: $brand-primary;
			color: white;
			text-transform: uppercase;
			text-align: left;
			font-weight: 600;
			letter-spacing: 2px;
			cursor: pointer;
			font-family: $body-font;
		}
		
		.mailing-list {
			grid-column: 1;
			grid-row: 4;

			.wpcf7-list-item {
				margin: 0;
			}
			
			label {
				display: flex;
				align-items: center;
				cursor: pointer;
			}
			
			input {
				margin: 0;
				height: 3em;
				width: 3em;
				position: relative;
				margin-right: 1em;
				
				&:before {
					content: "";
					position: absolute;
					height: 100%;
					width: 100%;
					background: white;
					cursor: pointer;
					top: 0;
					left: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					color: $brand-primary;
				}
				
				&:checked:before {
					content: "\f00c";
					font-family: "Font Awesome 5 Free";
					font-weight: 600;
					font-size: 1.8em;
					
				}
			}
			
			.wpcf7-list-item-label {
				font-size: 1em;
				letter-spacing: 1px;
			}
		}
	}
	
	input, textarea {
		padding: 1em 1.5em;
		border: none;
		width: 100%;
		outline: none;
		font-size: 1em;
		letter-spacing: 1px;
		color: darken($background-dark, 15%);
		
		&::placeholder {
			font-family: $body-font;
		}
	}
	
	textarea {
		height: 100%;
	}
	
	span.wpcf7-not-valid-tip {
		color: $background-light;
		padding-top: 5px;
	}
	
	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
		border: none;
		background: $background-mid;
		color: darken($background-dark, 15%);
		margin: 0;
		padding: 1em 2em;
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 1px;
	}
}

#contact-form-newsletter {
	font-size: 1.05em;
	
	p {
		font-size: 1em;
	}
	
	span {
		display: inline-block;
		line-height: 1;
		width: 40em;
		
		&.ajax-loader {
			width: 16px;
		}
	}
	
	input {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em 1.5em;
		border: none;
		width: 100%;
		outline: none;
		font-size: 1.2em;
		letter-spacing: 1px;
		color: darken($background-dark, 15%);
		text-align: center;
		
		&::placeholder {
			font-family: $body-font;
		}
	}
	
	.wpcf7-submit {
		background: $brand-secondary;
		color: white;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		letter-spacing: 2px;
		cursor: pointer;
		font-family: $body-font;
		width: 25em;
		margin-top: 2em;
		font-size: 1em;
	}
	
	span.wpcf7-not-valid-tip {
		color: $background-light;
		padding-top: 5px;
	}
	
	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
		border: none;
		background: $background-mid;
		color: darken($background-dark, 15%);
		margin: 0;
		padding: 1em 2em;
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 1px;
		display: inline-block;
	}
}

#main-contact-form {
	font-size: 1.05em;
	
	p {
		padding: 0;
		font-size: 1em;
	}
	
	span {
		display: inline-block;
		line-height: 1;
		width: 100%;
		
		&.ajax-loader {
			width: 16px;
		}
	}
	
	input, textarea {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em 1.5em;
		border: none;
		width: 100%;
		outline: none;
		font-size: 1.2em;
		letter-spacing: 1px;
		color: darken($background-dark, 15%);
		text-align: center;
		
		&::placeholder {
			color: $brand-mid-grey;
			font-family: $body-font;
		}
	}
	
	.wpcf7-form-control-wrap:not(:first-of-type) input, textarea {
		margin-top: 1em;
	}
	
	.wpcf7-submit {
		background: $brand-secondary;
		color: white;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		letter-spacing: 2px;
		cursor: pointer;
		font-family: $body-font;
		font-size: 1em;
		margin-top: 1em;
	}
	
	span.wpcf7-not-valid-tip {
		color: darken($background-brand, 15%);
		text-align: right;
		padding-top: 5px;
	}
	
	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
		border: none;
		background: $background-mid;
		color: darken($background-dark, 15%);
		margin: 0;
		padding: 1em 2em;
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 1px;
		display: block;
		text-align: center;
	}
}
