/*! == MEDIA QUERIES == */

/*===========EXTRA LARGE (1400px)==========*/

@media only screen and (max-width: 1400px) {

/*---GLOBALS---*/ 

.container-wrapper {
	margin-right: 1em;
	margin-left: 1em;
}

/*---HEADER---*/ 

/*---CONTENT---*/

#contact-info {
	padding: 0 0 0 0.5em;
}

.container.gallery-working {
	margin-right: 5em;
	margin-left: 5em;
}

/*---FOOTER---*/

}/*---end large mq---*/


/*===========LARGE (1200px)==========*/

@media only screen and (max-width: 1200px) {

/*---GRID---*/

.container {
		
	&.cols-xl-3-9 {
		& > .col:nth-of-type(2n - 1) {
			grid-column: span 3;      
		}
		& > .col:nth-of-type(2n) {
			grid-column: span 9;      
		}  
	}
	
	&.cols-xl-2-12 {
		& > .col:nth-of-type(n) {
			grid-column: 2/12;      
		}
	}
	
	&.cols-xl-3-11 {
		& > .col:nth-of-type(n) {
			grid-column: 3/11;      
		}
	}
	
	&.cols-xl-1-7-13 {
		& > .col:nth-of-type(2n - 1) {
			grid-column: 1/7;     
		}
		& > .col:nth-of-type(2n) {
			grid-column: 7/13;     
		}
	}
	
	&.cols-xl-1-9-13 {
		& > .col:nth-of-type(2n - 1) {
			grid-column: 1/9;     
		}
		& > .col:nth-of-type(2n) {
			grid-column: 9/13;     
		}
	}
	
	&.cols-block {
		display: block;
	}
}

/*---GLOBALS---*/ 

.heading__xl {
	font-size: 4em;
}

/*---HEADER---*/ 

.hero__logo {
	width: 30em;
}

/*---CONTENT---*/

#show-furniture .product-info {
	max-width: 80%;
	max-height: 80%;
	min-height: 35em;
}

#contact-info {
	display: none;
}

#main-menu::after {
	display: none;
}

.hospitality-design .container {
	padding: 0;
}

.qualification {
	
	.title {
	    font-size: 2.5em;
	}

	.quotation {
		display: flex;
	    padding-left: 1em;
	    font-size: 2em;
	}
}

.career-quote img, .career-quote svg {
	top: 50%;
	left: 3em;
}

.col.sidebar {
	padding-right: 0;
}

.post-wrapper .img {
	height: 30em;
}

.gallery__interior .img-wrapper {
	height: 30em;
}

.img-wrapper.quotation-interior .quote-wrapper, .quotation-artisan .quote-wrapper {
	font-size: 2em;
}

.artisan-info {
	display: flex;
	justify-content: center;
}

.gallery-contact {
	
	.img-wrapper {
		height: 25em;	
	}
		
	&.owl-carousel .owl-item {
	
		&:nth-of-type(5n - 4) a {
			width: 35em;
		}
		
		&:nth-of-type(5n - 3) a {
			width: 20em;
		}
		
		&:nth-of-type(5n - 2) a {
			width: 25em;
		}
		
		&:nth-of-type(5n - 1) a {
			width: 30em;
		}
		
		&:nth-of-type(5n) a {
			width: 20em;
		}
	}
}

.contact-links .icon {
	height: 8em;
	
	svg {
		max-width: 6em;
		max-height: 4em;
	}
	
	&.mail {
		margin-right: 1em;
	}
}

/*---FOOTER---*/

}/*---end large mq---*/


/*===========MEDIUM (992px)==========*/

@media only screen and (max-width: 992px) {
	
/*---GRID---*/

.container {
	
	&.cols-lg-2-12 {
		& > .col:nth-of-type(n) {
			grid-column: 2/12;      
		}
	}
}
  
/*---GLOBALS---*/ 

body {
    font-size: 0.75em;
}

.container-lg {
	max-width: 40em;
}
 
/*---HEADER---*/

/*---CONTENT---*/

.info-wrapper .img {
	height: 30em;
}

.gallery__artisan {
	
	&.img-1 .img-wrapper {
		height: 30em;
	}
	
	&.img-2 .img-wrapper {
		height: 25em;
	}
	
	&.img-3 .img-wrapper {
		height: 20em;
	}
}

.sidebar {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 3em;
}

.shop-items {
	margin-top: 0;
}

.post-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2em;
	
	&:nth-of-type(2n - 1) {
		
		.img {
			order: 1;
			margin-bottom: 0;
		}
		
		.post-info {
			order: 2;
		}
	}
	
	&:nth-of-type(2n) {
		.img {
			order: 2;
		}
		
		.post-info {
			order: 1;
			margin-bottom: 0;
			min-height: 30em;
		}
	}
}

.container.cols-lg-12>.col.block-info:nth-of-type(n) {
	text-align: center;
	grid-column: 3/11;
}

.interior-block .info-wrapper {
	grid-gap: 0;
	margin-bottom: 1em;
}

.artisans-block .img {
	margin-bottom: 1em;
	height: 28em;
}

/*---FOOTER---*/

}/*---end medium mq---*/


/*===========SMALL (768px)==========*/

@media only screen and (max-width: 768px) {

/*---GRID---*/

.container {
	
	&.cols-md-2-12 {
		& > .col:nth-of-type(n) {
			grid-column: 2/12;      
		}
	}
}

/*---GLOBALS---*/

body {
  font-size: 0.65em;
}

.container-md {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

.container-artisan .img {
	margin-bottom: 2em;
}

/*---HEADER---*/

nav {
	.container {
		grid-gap: 0;
	}
	
	#toggle-menu {
		display: block;
		position: absolute;
		padding: 1em;
		top: 0;
	    right: 0;
	    cursor: pointer;
	
		i {
			font-size: 2em;
		}
	}
	
	#main-menu {
		display: none;
		
		#menu-main-menu {
			padding-top: 2em;
			flex-direction: column;
		}
	}
	
	#logo-amy-fletcher {
		justify-content: flex-start;
	}
	
	svg {
		max-width: 200px;
	}
	
	&::before {
		transform: translateY(0);
	}
}

/*---CONTENT---*/

.container.cols-lg-12>.col.block-info:nth-of-type(n) {
	text-align: center;
	grid-column: 2/12;
}

.section-link {
	padding-bottom: 2em;
}

.section-wrapper, .gallery__single .img-wrapper {
	height: 30em;
}

.qualification .quotation {
	font-size: 1.5em;
	padding: 2em 1em;
	max-width: 30em;
}

.career-quote {
    grid-row: 4;
}

.qualification .col-flex {
	min-height: unset;
	padding: 2em 1em;
}

.career-history .image-wrapper {
	width: 100%;
}

.career-quote img, .career-quote svg {
	top: 40%;
	width: 10em;
	left: unset;
	right: 1em;
}

.posts-wrapper {
	
	h2 {
		text-align: center;
	}
	
	.cols-block .col {
		max-width: 35em;
		margin-left: auto;
		margin-right: auto;
	}
	
	.single-post .img {
		height: 20em;
	}
}

.recent-posts {
	
	h2 {
		text-align: center;
	}
	
	.col {
		max-width: 35em;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;
	}
	
	.project-background {
		height: 20em;
	}
}

.contact-links .icon {
	height: 6em;
	
	svg {
		max-width: 4.5em;
		max-height: 3.5em;
	}
	
	&.mail {
		margin-right: 1em;
	}
}

.gallery__interior {
	grid-gap: 1.5em;
	
	.img-wrapper {
		height: 25em;
		
		&:nth-of-type(n) {
			grid-column: span 6;
		}
		
		&:first-of-type {
			grid-column: span 12;
		}
	}
}

.gallery__working {
	grid-gap: 1.5em;
	
	.img-wrapper {
		grid-column: span 6;
		height: 20em	;
	}
}

.img-wrapper.quotation-interior .quote-wrapper, .quotation-artisan .quote-wrapper {
	font-size: 1.5em;
}

.gallery__artisan {
	
	&.img-1 .img-wrapper {
		height: 25em;
	}
	
	&.img-2 .img-wrapper {
		height: 20em;
	}
	
	&.img-3 .img-wrapper {
		height: 15em;
	}
}
  
/*---FOOTER---*/

.pre-socket .info {
	text-align: center;
}

}/*---end small mq---*/


/*===========EXTRA SMALL (576px)==========*/

@media only screen and (max-width: 576px) {
  
/*---GLOBALS---*/

.button {
	width: 20em;
}

.heading__xl {
	font-size: 3em;
}

.heading__lg {
    font-size: 2.5em;
}

.container-md {
	margin-right: 1em;
	margin-left: 1em;
}

/*---HEADER---*/

.hero__logo {
	width: 20em;
}
/*---CONTENT---*/

#contact-form-footer {
	
	p {
		grid-template-columns: 1fr;
		
		> span:nth-of-type(1) {
			grid-column: unset;
			grid-row: 1;
		}
		
		> span:nth-of-type(2) {
			grid-column: unset;
			grid-row: 2;
		}
		
		> span:nth-of-type(3) {
			grid-column: unset;
			grid-row: 3;
		}
		
		> span:nth-of-type(4) {
			grid-column: unset;
			grid-row: 4;
		}
		
		.wpcf7-submit {
			grid-column: unset;
			grid-row: 6;
		}
		
		.mailing-list {
			grid-column: unset;
			grid-row: 5;
		}
	}
	
	textarea {
		height: 10em;
	}
}

.qualification .title {
	font-size: 2em;
}

.container.cols-lg-12>.col.block-info:nth-of-type(n) {
	text-align: center;
	grid-column: 1/13;
}

.section-link .section-wrapper .title {
	font-size: 2.5em;
}

.shop-container.container.gutter-lg {
	grid-gap: 0;
}

.sidebar {
	grid-template-columns: 1fr;
}

.post-wrapper:nth-of-type(n) {
	grid-template-columns: 1fr;
	
	.img {
		order: 1;
		height: 25em;
	}
	
	.post-info {
		order: 2;
		min-height: unset;
	}
}

.artisan-info .wrapper-info {
	display: block;
    text-align: left;
    width: 100%;
}

.artisan-info .label {
	display: block;
	width: auto;
	text-align: inherit;
}

.gallery__artisan {
	
	&.img-1 .img-wrapper {
		height: 20em;
		grid-column: span 12;
	}
	
	&.img-2 .img-wrapper {
		height: 20em;
		grid-column: span 12;
	}
	
	&.img-3 .img-wrapper {
		height: 20em;
		grid-column: span 12;
	}
}

.gallery__interior {
	grid-gap: 1.5em;
	
	.img-wrapper {
		height: 25em;
		
		&:nth-of-type(n) {
			grid-column: span 12;
		}
	}
}

.container.gallery-working {
	margin: 0 2em;
	grid-gap: 1.5em;
	
	.img-wrapper {
		grid-column: span 12;
		height: 20em;
	}
}

#contact-form-newsletter {
	
	span {
		width: 100%;
	}
	
	.wpcf7-submit {
		width: 15em;
	}
}

/*---FOOTER---*/

.socket .container {
	display: block;
}

footer .socket {
	
	.colophon, .mandatory {
		justify-content: center;
	}
}

}/*---end extra small mq---*/

/*===========EXTRA SUPER SMALL (375px)==========*/

@media only screen and (max-width: 375px) {
  
/*---GLOBALS---*/

.button {
	width: 15em;
}

.heading__xl {
	font-size: 2.5em;
}

.heading__lg {
    font-size: 2em;
}


/*---HEADER---*/

.hero__logo {
	width: 15em;
}
/*---CONTENT---*/

.posts-wrapper .single-post .img {
	height: 15em;
}

.container-artisan .img {
	height: 20em;
}

/*---FOOTER---*/

}/*---end extra small mq---*/


/*===========GRID MODIFIER - MEDIA QUERIES==========*/

@each $name, $size in $breakpoints {
	
	@media (max-width: #{$size}) {
		
		@for $i from 1 through $col-count {
			
			.container.cols-#{$name}-#{$i} > .col:nth-of-type(n) {
				grid-column: span $i;
			}
		}
	}
}