/*! == MODULES == */

.content-page {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.carousel {
    
    &__item {
        @include backgroundCover; 
        position: relative;         
        height: 100%;
        display: grid;
        align-content: flex-end;
        padding-bottom: 10%;
    }
    
}

.owl-stage {
	z-index: 2;
}

.owl-nav {
	position: absolute;
	display: block;
	top: 50%;
	width: 100%;
	z-index: 1;
	
	.owl-prev, .owl-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: filter 0.3s ease;
		
		span {
			display: none;
		}
		
		&:focus {
			outline: none;
		}
		
		&:before {
			content: "";
			background: url("inc/img/arrow-shape.svg");
			@include backgroundContain;
			position: absolute;
			width: 2em;
			height: 2em;
			cursor: pointer;
		}
		
		&:hover {
			filter: brightness(70%);
		}
	}
	
	.owl-prev {
		left: 0;
		
		&:before {
			right: 2em;
			transform: translateY(-50%) rotate(90deg);
		}
	}
	
	.owl-next {
		right: 0;
		
		&:before {
			left: 2em;
			transform: translateY(-50%) rotate(-90deg);
		}
	}
}

.owl-dots {
	display: none;
}

.wrapper-image {
	padding: 0.5em;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    .img-wrapper {
        flex: auto;
        height: 30em;
        width: 100%;
        margin: 0; /* Some gutter */
        cursor: zoom-in;
        
        a {
	        @include backgroundCover;
	        width: 100%;
	        height: 100%;
        }
    }

	&__about {
		$padding: 1.5em;
		
		.img-wrapper {
			
			&:nth-of-type(4n - 3) {
				flex: 33.33%;
				padding-bottom: $padding;
				padding-right: $padding;
			}
			
			&:nth-of-type(4n - 2) {
				flex: 33.33%;
				padding-bottom: $padding;
				padding-right: $padding;
			}
			
			&:nth-of-type(4n - 1) {
				flex: 33.33%;
				padding-bottom: $padding;
			}
			
			&:nth-of-type(4n) {
				flex: 100%;
				padding-bottom: $padding;
			}
			
			&:last-of-type {
				padding-bottom: 0;
			}
		}
	}
}

.contact-subtitle {
	color: $brand-primary;
	text-transform: uppercase;
}

.block {
	
	&-text {
		text-align: center;
		
		.text {
			color: $brand-mid-grey;
			font-weight: 400;
			letter-spacing: 1px;
		}
	}
}
