/*! == THEME STYLES == */

/*===========GLOBAL==========*/

.background {

	&-white {
		background: white;
	}

	&-light {
		background: white;
	}

	&-mid {
		background: $background-mid;
	}

	&-dark {
		background: $background-dark;
	}

	&-primary {
		background: $brand-primary;
	}

	&-secondary {
		background: $brand-secondary;
	}

	&-brand {
		background: $background-brand;
	}
}

.grey-block {
    background:#c4c1b8;
    p {
        color: #5b696f;
    }
}

/*===========HEADER==========*/

nav svg {
	width: 100%;
	max-width: 150px;
	height: auto;

	path {
		fill: white;
	}
}

#contact-info {
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.2em;
	letter-spacing: 2px;

	a {
		color: white;
		line-height: 1.5;
		font-weight: 100;
	}

	.phone {
		font-weight: 100;
	}
}

#main-menu {
	position: relative;

	&:before,
	&:after {
		content: "";
		position: absolute;
		height: 100%;
		width: 1px;
		background: #b1b1b1;
		left: -1em;
	}

	&:after {
    	left:initial;
		right: -1em;
	}
}

#menu-main-menu {
	margin: 0;
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
}

/*===========BODY==========*/
.slider-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
    .static-elements {
        position: absolute;
        z-index: 2;
		width:80%;
        bottom: 32%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        svg {
            width:30em;
            margin-bottom: 3em;
            path,
            polygon {
                fill:white;
            }
            .st0 {
                stroke:none;
            }
        }
		.heading__xl {
			font-size: 4em;
		}
    }
}
.large-carousel {
    height: 100vh;
    &__item {
        @include backgroundCover;
        height: 100vh;
    }
    &.owl-carousel .owl-nav.disabled {
        display: block;
    }
    .owl-nav {
        top: calc(50% - 2em);
    }
    .owl-nav .owl-next:before,
    .owl-nav .owl-prev:before {
        left:2em;
        width:2em;
        height: 2em;
        border-top:1px solid white;
        border-right:1px solid white;
        transform:rotate(-135deg);
        z-index: 9999;
    }
    .owl-nav .owl-next:before {
        left:initial;
        right:2em;
        transform:rotate(45deg);
    }
}

.button-general {
    padding: 1em 2em;
    border: 1px solid #dfdddb;
    display: block;
    color: #8e877c;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all 0.5s ease;
    &:hover {
        border-color: #b1b1b1;
        background:#b1b1b1;
        color: white;
    }
}

.border-separator {
    height:10px;
    width:100%;
    background: #e9e7e3;
}

.items-wrapper {

	svg {
		height: 5em;

		path {
			fill: white;
		}
	}

	.label {
		color: white;
		font-weight: 400;
		font-size: 1.2em;
		letter-spacing: 1px;
		line-height: 1.5;
		margin-top: 1em;
	}
}

.brands .items-wrapper img {
	max-height: 9em;
	object-fit: cover;
	width: 100%;
}

.as-seen .items-wrapper {

	.col {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	svg {
		max-width: 14em;
	}

	svg path {
		fill: hsl(34, 8%, 64%);
	}
}

.hospitality-design {
	position: relative;
	@include backgroundCover;
	z-index: 2;

	.heading__brand {
		line-height: 1.5;
	}
}

.section-link {

	.section-wrapper {
		@include backgroundCover;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		padding: 1em;

		.title {
			font-size: 3.2em;
			line-height: 1.5;
		}
	}

	.side-image {
		height: 38em;
		width: 100%;
		@include backgroundCover;
	}
}

.block-text {
	margin-bottom: 3em;
}

.qualification {
	color: white;

	p {
		margin: 0;
		padding: 0;
	}

	.col-flex {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height: 32em;
	}

	.title {
		position: relative;
		margin-bottom: 1.5em;

		&:before {
			position: absolute;
			content: "~";
			color: white;
			font-size: 1em;
			bottom: -1.2em;
			left: 50%;
			transform: translateX(-50%);
			font-family: serif;
			opacity: 0.3;
		}
	}

	.text {
		letter-spacing: 1px;
	}

	.education-wrapper:first-of-type {
		margin-bottom: 1em;
	}

	.education-wrapper:last-of-type {
		position: relative;
		padding-top: 1.5em;
		margin-top: 1.5em;

		&:before {
			content: "";
			position: absolute;
			height: 1px;
			background: white;
			width: 100%;
			left: 0;
			top: 0;
			opacity: 0.3;
		}
	}

	.quotation {
		color: hsl(0, 0%, 27%);
		font-size: 2.4em;
		font-weight: bold;
		text-align: left;
		line-height: 1.4;
		letter-spacing: 1px;

		p {
			font-size: 1em;
			text-align: left;
			line-height: 1.5;
		}
	}

	.quote-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		div {
			padding: 0 1em;
			position: relative;
		}

		svg {
			width: 1em;
			position: absolute;
			z-index: 2;
			top: 0.2em;
			left: -0.5em;

			path {
				fill: $brand-primary;
			}
		}
	}
}

.img-wrapper.quotation-interior, .quotation-artisan {
	cursor: initial;

	p {
		font-size: 1em;
		text-align: left;
		line-height: 1.5;
		padding: 0;
	}

	.quote-wrapper {
		font-size: 1em;
		font-weight: bold;
		text-align: left;
		line-height: 1.4;
		letter-spacing: 1px;
		display: flex;
		align-items: center;

		div {
			position: relative;
		}

		svg {
			width: 0.9em;
			position: absolute;
			z-index: 2;
			top: 0.5em;
			left: -1.3em;
		}
	}
}

.img-wrapper.quotation-interior {
	background: #a9a79e;
	color: white;
    display: grid;
    padding: 1em;

	.quote-wrapper svg path {
		fill: $brand-secondary;
	}

	.quote-wrapper {
		margin-left: 0.5em;
	}
}

.quotation-artisan .quote-wrapper svg path {
	fill: $brand-primary;
}

.img-wrapper.quotation-interior .quote-wrapper {
    margin-left: 0;
}

.single-artisan .quotation-artisan .quote-wrapper {
    font-size: 1.2em;
}

.single-artisan {


    .quote-block.single p {
        width: 80%;
        font-weight: 100;
        line-height: 1.4em;
        text-align: left;
        &:after {
            bottom:0;
        }
    }
}



.gallery__interior .quote-block.single p {
	font-size: 1.5em;
    &:before {

    }
    &:after {

    }
}

.artisan-item {
    transition:all 0.5s ease;
    &:hover {
        box-shadow: 0 0 0 3px #a9a79e;
    }
    overflow:hidden;
    .img {
        transition:all 1s ease;
    }
    &:hover > .img {
        transform:scale(1.05);
    }
    .content {
        transition: all 0.5s ease;
    }
    &:hover > .content {
        padding-left:1em;
        padding-right: 1em;
        background:white;
    }
}

.container-artisan .info-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background:white;
    transition:box-shadow 0.5s ease;
    .content {
        padding: 2em;
        display: flex;
        flex-direction: column;
        flex: 1;
        p {
            flex-grow: 1;
        }
    }
	.title {
		color: darken($background-mid, 20%);
	}

	.tilde {
        width: 2.5em;
        background: #bdb9b4;
        opacity: 0.5;
        margin-top: 0.5em;
        margin-bottom: 1em;
        height: 1px;
	}

	.arrow {
		width: 4em;
		fill: $brand-dark-grey;
		transition:margin 0.5s ease;
	}

	.img {
		height: 15em;
		width: 100%;
		@include backgroundCover;
		filter:saturate(0.3);
		transition:filter 0.5s ease;
	}

	&:hover {
    	box-shadow: 0 0 0 10px #eae7e3;
    	.img {
            filter:saturate(1);
    	}
    	.arrow {
        	margin-left:1em;
    	}
	}
}

.career-history {

	.col {
		padding: 0 1.5em;

		p:first-of-type {
			margin-bottom: 1.5em;
		}
	}

	.image-wrapper {
		margin-top: 2em;

		svg, img {
			height: 3.5em;
			max-width: 9em;
			fill: white;
			margin: 0 1.2em;
		}
	}
}

.career-quote {
	position: relative;

	svg, img {
		width: 60%;
		position: absolute;
		fill: #ececec;
		top: 20%;
		z-index: -1;
	}
}

.project-block {
	@include backgroundCover;
	display: block;
	line-height: 1.2;
    background:white;
    transition: all 0.5s ease;
    /*&:hover {
        box-shadow:0 0 0 10px #eae7e3;
    }*/
    a {
        display: grid;
    }
    &__img {
        	@include backgroundCover;
        height:20em;
        filter:saturate(0);
        transition:all 0.5s ease;
    }
    /*&:hover &__img {
        filter:saturate(1);
    }*/

	h3 {
		font-size: 3.5em;
		margin: 0;
	}

	.project-wrapper {
		height: 30em;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&:hover .project-wrapper {
		opacity: 1;
	}
}

.project-block-small {
	line-height: 2;
	padding: 2em 1.5em;
	text-align: left;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
	justify-content: flex-end;
	z-index: 2;
	position: relative;
    position: relative;
    background:white;
    color: red;
    	.tilde {
        width: 2em;
        background: #bdb9b4;
        opacity: 0.5;
        margin-top: 0.5em;
        margin-bottom: 1em;
        height: 1px;
	}
}

.recent-posts {
	line-height: 1;

	.project-background {
		@include backgroundCover;
		height: 12em;
	}

	.title {
		line-height: 1;
		color: hsl(0, 0%, 27%);

		svg {
			width: 2.5em;
			height: auto;
			margin-left: 0.5em;

			path {
				fill: hsl(0, 0%, 27%);
			}
		}
	}
}

.primary-overlay {
	position: relative;
	z-index: 2;

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: #191919;
		opacity: 0.7;
		left: 0;
		top: 0;
		z-index: -1;
	}
}

.testimonials {
	text-align: left;

	.text {
		font-weight: bold;
		letter-spacing: 1px;
	}

	.author {
		color: $brand-primary;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.1em;
		font-weight: 400;
	}
}

.artisan-info {

	.label {
		display: inline-block;
		width: 10em;
		text-align: right;
		padding-right: 1em;
		padding-bottom: 0.2em;
	}

	.value {
		display: inline-block;
		color: $brand-mid-grey;
		font-weight: normal;
		letter-spacing: 1px;
		font-size: 1.2em;
	}
}

.brand-text {
	font-weight: normal;
	letter-spacing: 1px;
	color: $brand-mid-grey;
}

.info-wrapper {
    display: grid;
    background:white;
    a,
    a:hover {
        color: #979695;
    }
    .button-general:hover {
        color: white;
    }
    .content {
        padding: 2em;
    }
	.title {
		color: darken($background-mid, 20%);
	}

	.tilde {
        width: 2em;
        background: #bdb9b4;
        opacity: 0.5;
        margin-top: 0.5em;
        margin-bottom: 1em;
        height: 1px;
	}

	.arrow {
		width: 4em;
		fill: $brand-dark-grey;
		transition:margin 0.5s ease;
	}

	.img {
		height: 20em;
		width: 100%;
		@include backgroundCover;
		a {
            display: block;
            height: 100%;
            width: 100%;
		}
	}

	&:hover {
    	.arrow {
        	margin-left:1em;
    	}
	}
}

.interior-block {
    .info-wrapper {
	    grid-gap: 0;
	}
}

.post-title {

	h1 {
		font-size: 2.5em;
		letter-spacing: 2px;
	}

	svg {
		width: 0.8em;
		margin: 0 0.2em 0.4em 0;
		fill: $brand-primary;
	}

	.date {
		font-weight: normal;
		letter-spacing: 1px;
		color: $brand-mid-grey;
		font-size: 1.2em;
	}
}

.other-posts {
	line-height: 1.5;

	.single-post {
		width: 100%;

		.img {
			@include backgroundCover;
			height: 12em;
		}
	}
}

.post-wrapper {
    display: grid;
    grid-template-rows: 15em auto;
    transition:box-shadow 0.5s ease;
	&:hover {
    	box-shadow: 0 0 0 10px #eae7e3;
	}

	.post-info {
    	display: flex;
    	flex-direction: column;
    	height: 100%;
    	padding: 1em;
    	background: white;
    	.tilde {
            width: 3.5em;
            background: #bdb9b4;
            opacity: 0.5;
            margin-top: 0.5em;
            margin-bottom: 1em;
            height: 1px;
		}
		.brand-text {
    		flex-grow: 1;
		}
    }

	.img {
		@include backgroundCover;
		height: 15em;
        filter: saturate(0.3);
        transition: all 0.5s ease;
	}
    &:hover .img {
        filter:saturate(1);
    }
	.heading {
    	margin-bottom: 0.5em;
		font-size: 1.3em;
	}

	.arrow {
    	margin-top: 1em;
		width: 100%;
		align-self: flex-end;
		font-size: 1em;
		border-color: #e0e0e0;
		&:before {
    		background: #cecece;
            transform: none;
		}
		&:after {
    		border-color: transparent transparent transparent #cecece;
            background: transparent;
            transform: none;
		}
	}

	.date {
		font-weight: normal;
		color: $brand-mid-grey;
		letter-spacing: 1px;
		font-size: 0.8em;
	}

	.read-more-text {
		font-size: 1.2em;
		color: $brand-primary;
		letter-spacing: 2px;
		font-weight: 400;
		margin-bottom: 1.8em;
		margin-top: 1em;
		text-transform: capitalize;
	}
}

.sidebar {

	.title {
		height: 2.5em;
		border-bottom: 2px solid;
	}

	.list-items {

		.item {
		    display: block;
		    padding: 0.75em 0;
		    font-size: 1.2em;
		    text-transform: uppercase;
		    letter-spacing: 1px;

		    &.active {

			    a {
				    color: $brand-primary;
				    font-weight: bold;
			    }

			    .tilde {
				    display: block;
			    }
			}

		    a {
			    color: inherit;
		    }
		}

		.tilde {
            width: 3.5em;
            background: #bdb9b4;
            opacity: 0.5;
            margin-top: 0.5em;
            height: 1px;
		}
	}

	.collections {
	    padding: 0.75em 0 0 0;
	    font-size: 1.2em;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    color: $brand-primary;
		font-weight: bold;
		cursor: pointer;

		div {
			position: relative;
		}

		.simple-arrow {
			width: 1.2em;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			fill: $brand-primary;
		}

		.tilde {
			display: block;
		}
	}
}

.shop-items {
	/*margin-top: calc(1.5 * 2.5em);*/

	.item {
		cursor: pointer;
        background: white;
		.img {
			@include backgroundContain;
			height: 15em;
		}
        .content {
            padding: 2em 1em 1em;
        }

	}
	.tilde {
    background: #d4d4d4;
    width: 1.5em;
    margin-top: 1em;
    height: 1px;
    margin-bottom: 1em;
	}
}

#show-furniture {
	position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.6);
    z-index: 999;

    &.hidden {
	    display: none;
    }

    .wrapper {
	    width: 100%;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
    }

    .product-info {
	    background: white;
	    position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 80em;
		min-height: 40em;
		max-height: 80em;
	}

	.close {
		position: absolute;
		width: 2.5em;
		height: 2.5em;
		background: white;
		border-radius: 50%;
		right: 1em;
		top: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		span {
			font-size: 1.5em;
			font-weight: bold;
			display: block;
			margin-top: -0.2em;
			color: $brand-primary;
		}
	}

	.image {
		@include backgroundContain;
		margin: 1em;
	}

	.info {
		padding: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
	    background: #979695;
	}

	.heading {
		line-height: 1.5;
	}

	.tilde {
		fill: $brand-secondary;
		opacity: 0.8;
		width: 1.5em;
		margin-top: 1em;
	}

	.brand-text {
		color: white;
		font-weight: 200;

		p {
			padding: 0;
			margin-top: 1em;
		}
	}
}

.bespoke {
	position: relative;
	background: $background-mid;

    p {
        color: white;
		margin-bottom: 2em;
    }

	.col.active::before {
		content: "";
		position: absolute;
		width: 5em;
		height: 5em;
		bottom: 0;
		background: $background-mid;
		transform: translateX(-50%) translateY(1em) rotate(45deg);
	}

	.item {
		cursor: pointer;
	}
}

.bespoke-items {
	background: #fafafa;
	.brand-text {

	}
}

.stockists {

	.item {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1em;
	}

	svg {
		max-width: 15em;

	    path {
			fill: hsl(34, 8%, 64%);
		}
	}
}

.interior-block .info-wrapper {

	.info {
		padding: 2em;
	}

	.img {
		height: 100%;
		min-height: 25em;
	}
}

.studio-info {

	.info {
		padding-top: 1em;
		font-size: 1.2em;
		line-height: 1.5;
	}
}


.gallery-contact.owl-carousel .owl-item {

	&:not(:last-of-type) .img-wrapper {
		padding-right: 1em;
	}

	.img-wrapper {
		padding-bottom: 1em;
	}

	&:nth-of-type(5n - 4) a {
		width: 60em;
	}

	&:nth-of-type(5n - 3) a {
		width: 25em;
	}

	&:nth-of-type(5n - 2) a {
		width: 35em;
	}

	&:nth-of-type(5n - 1) a {
		width: 50em;
	}

	&:nth-of-type(5n) a {
		width: 30em;
	}
}

.gallery-contact .img-wrapper {
	height: 32em;

	a {
		@include backgroundCover;
		width: 20em;
		height: 100%;
	}
}

.contact-links {

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
        color: #696968;

		&:hover {

			svg {
				fill: $brand-secondary;
			}
		}
	}

	.icon {
		width: 10em;
		height: 10em;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			fill: #696968;
            max-width: 6em;
            max-height: 4em;
			width: 100%;
			transition: fill 0.3s ease-in-out;
		}

		&.mail {
			margin-right: 1.8em;
		}
	}

	.label {
		font-size: 1.2em;
		font-weight: normal;
		letter-spacing: 1px;
	}
}

.arrow-down svg {
	transform: rotate(90deg);
	width: 4em;
}

.contact-form-wrapper {
	position: relative;

	svg {
		position: absolute;
		fill: white;
		height: 70%;
		bottom: 6.5em;

		&:first-of-type {
			transform: translateX(-100%);
			left: 0;
		}

		&:last-of-type {
			transform: scaleX(-1) translateX(-100%);
			right: 0;
		}
	}

	textarea {
		resize: none;
	}
}

.map-container {

	img {
		width: 100%;
	}

	&.map-contact {
		padding-bottom: 10px;
	}
}

.signature-block {
    display: grid;
    justify-content: center;
    padding-top: 5em;
    svg {
        height: 3em;
        margin-bottom: 5em;
        polygon, path {
            fill:#545454;
        }
    }
}

.summary-block {
    .heading {
        margin-bottom: 0;
    }

    .heading + p {
        margin-top:0;
        padding-top: 0;
    }
}

.about-image .container {
    padding:0;
}

.awards {
    img {
        height:8em;
    }
}

.quote-block {
    &.single {

        p {
            position: relative;
            width:80%;
            margin: 0 auto;
			font-size: 1.8em;
            font-weight: 700;
            color: #545454;
            text-align:center;
            &:before,
            &:after {
                content: "\f10d";
				display: inline;
                position: relative;
				padding-right: 0.5em;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size:0.75em;
                color: #fcb27d;
            }
            &:after {
				content: "\f10e";
				padding-right: 0;
				padding-left: 0.5em;
                transform: rotate(180deg);
            }
        }
    }
}

.instagram-block {
    background:#e1dfd8;
    i {
        display: block;
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }
}

.cta-block {
    width:30%;
    margin: 0 auto 3em;
    text-align: center;
    border:1px solid $brand-dark-grey;
    a {
        padding: 1em 2em 0;
        color: $brand-dark-grey;
    }
    i {
        font-size: 2em;
    }
    .link {
        position: relative;
        display: inline-block;
        &:before {
            content:'';
            position: absolute;
            top:50%;
            right:-4em;
            width:3em;
            height:1px;
            background: $brand-dark-grey;
            transition: width 0.5s ease;
        }
        &:after {
            content:'';
            position: absolute;
            top:calc(50% - 4px);
            right: -4.5em;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 12px;
            border-color: transparent transparent transparent $brand-dark-grey;
            transition: left 0.5s ease;
        }
    }
}

.post-content blockquote {
    position: relative;
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
    padding-left: 4em;
    margin-right: -4em;
    font-size: 1.5em;
    &:before,
    &:after {
        content: "\f10d";
        position: absolute;
        top: 0;
        left: 0.4em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1.75em;
        color: #fcb27d;
    }
    &:after {
        left:initial;
        right:0em;
        top:initial;
        bottom:0;
        transform:rotate(180deg);
    }
	p {
		font-weight: 700;
	}
}

.horiz-sep {
    position: relative;
    span {
        background:#fbfbfb;
        padding: 0 1em;
    }
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0.65em;
        width: 100%;
        height: 1px;
        background: #eae7e3;
        z-index: -1;
    }
}
/*===========FOOTER==========*/

footer {
	position: relative;
	z-index: 2;


	.info {
		font-weight: 400;
		letter-spacing: 1px;
		font-size: 1.2em;

		.contact-wrapper {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			line-height: 1.5;
			font-weight: 100;
			.country {
    			font-weight: 800;
			}
		}
	}

	.socials {
		font-size: 1.2em;
		padding-top: 1em;
	}
}
