/*! == THEME STYLES == */

/*===========GLOBAL==========*/

.background {
	
	&-white {
		background: white;
	}
	
	&-light {
		background: $background-light;
	}
	
	&-mid {
		background: $background-mid;
	}
	
	&-dark {
		background: $background-dark;
	}
	
	&-primary {
		background: $brand-primary;
	}
	
	&-secondary {
		background: $brand-secondary;
	}
	
	&-brand {
		background: $background-brand;
	}
}

/*===========HEADER==========*/

nav svg {
	width: 100%;
	max-width: 280px;
	height: auto;
	
	path {
		fill: white;
	}
}

#contact-info {
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.2em;
	letter-spacing: 2px;
	
	a {
		color: white;
		line-height: 1.5;
	}
	
	.phone {
		font-weight: 800;
	}
}

#main-menu {
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		background: white;
		left: -1em;
	}
	
	&:after {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		background: white;
		right: -1em;
	}
}

#menu-main-menu {
	margin: 0;
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
}

/*===========BODY==========*/

.items-wrapper {
	
	svg {
		height: 5em;
		
		path {
			fill: white;
		}
	}
	
	.label {
		color: white;
		font-weight: 400;
		font-size: 1.2em;
		letter-spacing: 1px;
		line-height: 1.5;
		margin-top: 1em;
	}
}

.brands .items-wrapper img {
	max-height: 9em;
	object-fit: cover;
	width: 100%;
}

.as-seen .items-wrapper {
	
	.col {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	svg {
		max-width: 14em;
	}
	
	svg path {
		fill: hsl(34, 8%, 64%);
	}
}

.hospitality-design {
	position: relative;
	@include backgroundCover;
	z-index: 2;
	
	.heading__brand {
		line-height: 1.5;
	}
}

.section-link {
	
	.section-wrapper {
		@include backgroundCover;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		padding: 1em;
		
		.title {
			font-size: 3.2em;
			line-height: 1.5;
		}
	}
	
	.side-image {
		height: 38em;
		width: 100%;
		@include backgroundCover;
	}
}

.qualification {
	color: white;
	
	p {
		margin: 0;
		padding: 0;
	}
	
	.col-flex {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height: 32em;
	}
	
	.title {
		position: relative;
		margin-bottom: 1.5em;
		
		&:before {
			position: absolute;
			content: "~";
			color: white;
			font-size: 1em;
			bottom: -1.2em;
			left: 50%;
			transform: translateX(-50%);
			font-family: serif;
			opacity: 0.3;
		}
	}
	
	.text {
		letter-spacing: 1px;
	}
	
	.education-wrapper:first-of-type {
		margin-bottom: 1em;
	}
	
	.education-wrapper:last-of-type {
		position: relative;
		padding-top: 1.5em;
		margin-top: 1.5em;
		
		&:before {
			content: "";
			position: absolute;
			height: 1px;
			background: white;
			width: 100%;
			left: 0;
			top: 0;
			opacity: 0.3;
		}
	}
	
	.quotation {
		color: hsl(0, 0%, 27%);
		font-size: 2.4em;
		font-weight: bold;
		text-align: left;
		line-height: 1.4;
		letter-spacing: 1px;
		
		p {
			font-size: 1em;
			text-align: left;
			line-height: 1.5;
		}
	}
	
	.quote-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		
		div {
			padding: 0 1em;
			position: relative;
		}
		
		svg {
			width: 1em;
			position: absolute;
			z-index: 2;
			top: 0.2em;
			left: -0.5em;
			
			path {
				fill: $brand-primary;
			}
		}
	}
}

.img-wrapper.quotation-interior, .quotation-artisan {
	cursor: initial;
	
	p {
		font-size: 1em;
		text-align: left;
		line-height: 1.5;
		padding: 0;
	}
	
	.quote-wrapper {
		font-size: 2.4em;
		font-weight: bold;
		text-align: left;
		line-height: 1.4;
		letter-spacing: 1px;
		display: flex;
		align-items: center;
		
		div {
			position: relative;
		}
		
		svg {
			width: 0.9em;
			position: absolute;
			z-index: 2;
			top: 0.5em;
			left: -1.3em;
		}
	}
}

.img-wrapper.quotation-interior {
	background: $brand-primary;
	color: white;
	
	.quote-wrapper svg path {
		fill: $brand-secondary;
	}
	
	.quote-wrapper {
		margin-left: 0.5em;
	}
}

.quotation-artisan .quote-wrapper svg path {
	fill: $brand-primary;
}


.career-history {
	
	.col {
		padding: 0 1.5em;
		
		p:first-of-type {
			margin-bottom: 1.5em;
		}
	}
	
	.image-wrapper {
		margin-top: 2em;
		
		svg, img {
			height: 3.5em;
			max-width: 9em;
			fill: white;
			margin: 0 1.2em;
		}
	}
}

.career-quote {
	position: relative;
	
	svg, img {
		width: 60%;
		position: absolute;
		fill: #ececec;
		top: 20%;
		z-index: -1;
	}
}

.project-block {
	@include backgroundCover;
	display: block;
	line-height: 1.2;
	
	h3 {
		font-size: 3.5em;
		margin: 0;
	}
	
	.project-wrapper {
		height: 30em;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
	
	&:hover .project-wrapper {
		opacity: 1;
	}
}

.project-block-small {
	@include backgroundCover;
	line-height: 2;
	height: 23em;
	padding: 2em 1.5em;
	text-align: left;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
	justify-content: flex-end;
	z-index: 2;
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: black;
		top: 0;
		left: 0;
		opacity: 0.3;
		z-index: -1;
		transition: opacity 0.3s ease-in-out;
	}
	
	&:hover::before {
		opacity: 0.1;
	}
}

.recent-posts {
	line-height: 1;

	.project-background {
		@include backgroundCover;
		height: 12em;
	}
	
	.title {
		line-height: 1;
		color: hsl(0, 0%, 27%);
		
		svg {
			width: 2.5em;
			height: auto;
			margin-left: 0.5em;
			
			path {
				fill: hsl(0, 0%, 27%);
			}
		}
	}
}

.primary-overlay {
	position: relative;
	z-index: 2;
	
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: $brand-primary;
		opacity: 0.7;
		left: 0;
		top: 0;
		z-index: -1;
	}
}

.testimonials {
	text-align: left;
	
	.text {
		font-weight: bold;
		letter-spacing: 1px;
	}
	
	.author {
		color: $brand-primary;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.1em;
		font-weight: 400;
	}
}

.artisan-info {
	
	.label {
		display: inline-block;
		width: 10em;
		text-align: right;
		padding-right: 1em;
		padding-bottom: 0.2em;
	}
	
	.value {
		display: inline-block;
		color: $brand-mid-grey;
		font-weight: normal;
		letter-spacing: 1px;
		font-size: 1.2em;
	}
}

.brand-text {
	font-weight: normal;
	letter-spacing: 1px;
	color: $brand-mid-grey;
}

.info-wrapper {
	
	.title {
		color: darken($background-mid, 20%);
	}
	
	.tilde {
		width: 1.8em;
		fill: $brand-primary;
		opacity: 0.5;
		margin-top: 1em;
	}
	
	.arrow {
		width: 4em;
		fill: $brand-dark-grey;
	}
	
	.img {
		height: 35em;
		width: 100%;
		@include backgroundCover;
	}
}

.post-title {
	
	h1 {
		font-size: 2.5em;
		letter-spacing: 2px;
	}
	
	svg {
		width: 0.8em;
		margin: 0 0.2em 0.4em 0;
		fill: $brand-primary;
	}
	
	.date {
		font-weight: normal;
		letter-spacing: 1px;
		color: $brand-mid-grey;
		font-size: 1.2em;
	}
}

.other-posts {
	line-height: 1.5;
	
	.single-post {
		width: 100%;
		
		.img {
			@include backgroundCover;
			height: 12em;
		}
	}
}

.post-wrapper {
	display: flex;
	flex-direction: column;
	
	&:nth-of-type(3n - 1) {
		
		.img {
			order: 2;
		}
		
		.post-info {
			order: 1;
			margin-bottom: 2em;
		}
	}
	
	.post-info {
		padding: 2em;
	}
	
	.img {
		@include backgroundCover;
		height: 40em;
	}
	
	h2 {
		font-size: 1.3em;
	}
	
	.arrow {
		width: 4.5em;
		fill: $brand-dark-grey;
	}
	
	.date {
		font-weight: normal;
		color: $brand-mid-grey;
		letter-spacing: 1px;
		font-size: 1.1em;
	}
	
	.read-more-text {
		font-size: 1.2em;
		color: $brand-primary;
		letter-spacing: 2px;
		font-weight: 400;
		margin-bottom: 1.8em;
		margin-top: 1em;
		text-transform: capitalize;
	}
}

.sidebar {
	
	.title {
		height: 2.5em;
		border-bottom: 2px solid;
	}
	
	.list-items {
		
		.item {
		    display: block;
		    padding: 0.75em 0;
		    font-size: 1.2em;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    
		    &.active { 
			    
			    a {
				    color: $brand-primary;
				    font-weight: bold;
			    }
			    
			    .tilde {
				    display: block;
			    }
			}
		    
		    a {
			    color: inherit;
		    }
		}
		   
		.tilde {
			width: 1em;
			fill: $brand-primary;
			margin-top: 1.5em;
			display: none;
		}
	}
	
	.collections {
	    padding: 0.75em 0 0 0;
	    font-size: 1.2em;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    color: $brand-primary;
		font-weight: bold;
		cursor: pointer;
		
		div {
			position: relative;
		}
		
		.simple-arrow {
			width: 1.2em;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			fill: $brand-primary;
		}
		
		.tilde {
			display: block;
		}
	}
}

.shop-items {
	margin-top: calc(1.5 * 2.5em);
	
	.item {
		cursor: pointer;
		
		.img {
			@include backgroundCover;
			height: 22em;
		}
		
		.title {
			margin-top: 1.5em;
		}
		
		.heading {
			line-height: 1.5;
		}
	}
}

#show-furniture {
	position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.6);
    z-index: 999;
    
    &.hidden {
	    display: none;
    }
    
    .wrapper {
	    width: 100%;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
    }
    
    .product-info {
	    background: white;
	    position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 80em;
		min-height: 40em;
		max-height: 80em;
	}
	
	.close {
		position: absolute;
		width: 2.5em;
		height: 2.5em;
		background: white;
		border-radius: 50%;
		right: 1em;
		top: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		
		span {
			font-size: 1.5em;
			font-weight: bold;
			display: block;
			margin-top: -0.2em;
			color: $brand-primary;
		}
	}
	
	.image {
		@include backgroundCover;
	}
	
	.info {
		padding: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
		
	.heading {
		line-height: 1.5;
	}
	
	.tilde {
		fill: $brand-secondary;
		opacity: 0.8;
		width: 1.5em;
		margin-top: 1em;
	}
	
	.brand-text {
		color: white;
		font-weight: 200;
		
		p {
			padding: 0;
			margin-top: 1em;
		}
	}
}

.bespoke {
	position: relative;
	
	.col.active::before {
		content: "";
		position: absolute;
		width: 5em;
		height: 5em;
		bottom: 0;
		background: $brand-primary;
		transform: translateX(-50%) translateY(1em) rotate(45deg);
	}
	
	.item {
		cursor: pointer;
	}
}

.bespoke-items {
	
	.brand-text {
		color: white;
	}
}

.stockists {
	
	.item {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1em;
	}
	
	svg {
		max-width: 15em;
		
	    path {
			fill: hsl(34, 8%, 64%);
		}
	}
}

.interior-block .info-wrapper {
	
	.info {
		padding: 2em;
	}
	
	.img {
		height: 100%;
		min-height: 25em;
	}
}

.studio-info {
	
	.info {
		padding-top: 1em;
		font-size: 1.2em;
		line-height: 1.5;
	}
}


.gallery-contact.owl-carousel .owl-item {
	
	&:not(:last-of-type) .img-wrapper {
		padding-right: 1em;
	}
	
	.img-wrapper {
		padding-bottom: 1em;
	}
	
	&:nth-of-type(5n - 4) a {
		width: 60em;
	}
	
	&:nth-of-type(5n - 3) a {
		width: 25em;
	}
	
	&:nth-of-type(5n - 2) a {
		width: 35em;
	}
	
	&:nth-of-type(5n - 1) a {
		width: 50em;
	}
	
	&:nth-of-type(5n) a {
		width: 30em;
	}
}

.gallery-contact .img-wrapper {
	height: 32em;
	
	a {
		@include backgroundCover;
		width: 20em;
		height: 100%;
	}
}

.contact-links {
	
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		
		&:hover {
			
			svg {
				fill: $brand-secondary;
			}
		}
	}
	
	.icon {
		width: 10em;
		height: 10em;
		display: flex;
		align-items: center;
		justify-content: center;
		
		svg {
			fill: $brand-primary;
			max-width: 8em;
			max-height: 5em;
			width: 100%;
			transition: fill 0.3s ease-in-out;
		}
		
		&.mail {
			margin-right: 1.8em;
		}
	}
	
	.label {
		font-size: 1.2em;
		font-weight: normal;
		letter-spacing: 1px;
	}
}

.arrow-down svg {
	transform: rotate(90deg);
	width: 4em;
}

.contact-form-wrapper {
	position: relative;
	
	svg {
		position: absolute;
		fill: white;
		height: 70%;
		bottom: 6.5em;
		
		&:first-of-type {
			transform: translateX(-100%);
			left: 0;
		}
		
		&:last-of-type {
			transform: scaleX(-1) translateX(-100%);
			right: 0;
		}
	}
	
	textarea {
		resize: none;
	}
}

/*===========FOOTER==========*/

footer {
	position: relative;
	z-index: 2;
	background-size: cover;
	background-repeat: no-repeat;
	
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: #a9a4a0;
		opacity: 0.97;
		z-index: -1;
	}
	
	.info {
		font-weight: 400;
		letter-spacing: 1px;
		font-size: 1.2em;
		
		.contact-wrapper {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			line-height: 1.5;
		}
	}
	
	.socials {
		font-size: 1.2em;
		padding-top: 1em;
	}
}
