/*! == VARIABLES == */

$brand-primary: hsl(177, 65%, 35%);
$brand-secondary: hsl(24, 95%, 74%);
$brand-tertiary: hsl(0, 0%, 72%);

$background-brand: hsl(32, 21%, 73%);
$background-light: hsl(29, 40%, 90%);
$background-mid: #bdb9b3;
$background-dark: hsl(37, 7%, 63%);

$brand-light-grey: hsl(0, 0%, 89%);
$brand-mid-grey: hsl(30, 1%, 59%);
$brand-dark-grey: hsl(200, 10%, 40%);

$brand-font: 'Trajan', sans-serif;
$body-font: 'Zeitung', sans-serif;
$supporting-font: 'linotype-sabon', sans-serif;

$fastEffect: all .5s ease;
$slowEffect: all 1s ease;

$container-width: 1200px;
$col-count: 12;
$grid-gap: 2em;

$breakpoints: (
	xl: 1200px,
	lg: 992px,
	md: 768px,
	sm: 576px,
	xs: 350px
);
